<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Belajar Vue - V-Computed</title>
  </head>

  <body>
    <div id="app">
      <div>
        <form action="">
            <input type="text" placeholder="firstname" v-model="firstName">
            <input type="text" placeholder="middlename" v-model="middleName">
            <input type="text" placeholder="lastname" v-model="lastName">
        </form>
      </div>

      <div>
        Fullname = {{ fullName }} 
      </div>
    </div>

    <script type="module">
      import { createApp } from "https://unpkg.com/vue@3/dist/vue.esm-browser.js";

      createApp({
        data() {
          return {
          firstName:'',
          middleName:'',
         lastName:'',
          }
        },
        computed:{
            fullName(){
                return this.firstName+' '+this.middleName+' '+this.lastName
            }
        }
      }).mount("#app");
    </script>
  </body>
</html>
